QWidget {
    font-size: 16px;
    color: #001b29;
}

/* Main Widget */
QPushButton#generateButton {
    background-color: #023047;
    border: 1px solid #001b29;
    color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 45px;
    font-size: 20px;
}

QTextEdit#passphrase {
    font-size: 36px;
    margin-bottom: 12px;
    font-weight: 600;
}

QPushButton#copyButton {
    background-color: #CDE8F4;
    border: 1px solid #001b29;
    border-radius: 2px;
    font-size: 18px;
}


/* Options Widget */
OptionsWidget {
    background: #FFB703;
}

OptionsWidget QLabel {
    margin-top: 26px;
}
